
.content {
  display: flex;
  flex-wrap: wrap;
  
}

.img-yo {
  display: block;
  width: 100%;
  margin: auto;
}

aside {
  text-align: justify;
  display: block;
  width: 100%;
  margin: auto;
}

.btn-primer-contacto {
  background-color: #5dc1b9;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
  margin: 0 1rem 1rem 0;
  width: auto;
  text-align: center;
}

  .btn-primer-contacto:hover {
      background-color: transparent;
      border: 2px solid #5dc1b9;
      cursor: pointer;
      color: white;
  }